* {
    margin: 0;
    padding: 0;
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    height: 100%;
}
#github {
    color: white;
    right: -65px;
    height: 30px;
    top: 40px;
    position: absolute;
    text-decoration: none;
    width: 250px;
    opacity: 1;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#github span {
    background: #000;
    font-size: 14px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 250px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    padding: 5px 0;
    opacity: 1;
    -moz-transition: opacity linear 0.2s;
    -webkit-transition: opacity linear 0.2s;
    -o-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all linear 0.2s;
}
#github span:last-child {
    background: #65BDFB;
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    opacity: 0;
}
#github:hover span:first-child {
    opacity: 0;
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
}
#github:hover span:last-child {
    opacity: 1;
    -webkit-transform: rotatex(360deg);
    -moz-transform: rotatex(360deg);
}

/* HERE GOES RELEVANT STYLES */
.ilist-wrapper {
    position: absolute;
    overflow: hidden;
    width: 320px;
    height: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-transform: translateX(-50%) translateY(-50%);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -o-transform: translateX(-50%) translateY(-50%);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
    .ilist {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 400px;
        overflow-y: scroll;
    }
        .ilist__item {
            border: 1px solid #ccc;
            padding: 5px;
        }
            .ilist__item_dummy {
                display: none;
                height: 0px;
                position: relative;
            }
                .ilist__item_dummy .ilist__item {
                    position: absolute;
                }
            .ilist__item_separator {
                background-color: #4678a3;
                opacity: 0.95;
                color: white;
            }
            .ilist__item_pinned {
                position: absolute;
                top: 0;
            }
